
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    justify-content: space-between;
}


#start-container {
    text-align: center;
    margin-top: 20vh;
    padding: 0 20px; 
}

h1 {
    font-size: 2.2em;
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #ffffff;
    padding: 0 30px;
    margin-bottom: 40px;
}

#start-button {
    background-color: #000000;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #45a049;
}

h2 {
    margin: 20px 0;
    color: #4CAF50;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

form p {
    margin: 10px 0;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

pre {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 100%;
    max-width: 400px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

h3 {
    margin: 10px 0;
    color: #4CAF50;
    font-weight: normal;
}

#copyAllButton {
    margin: 20px;
}

footer {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: auto; 
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        margin-bottom: 20px;
    }

    #start-button {
        padding: 10px 30px;
        font-size: 16px;
    }

    form {
        margin: 10px;
        padding: 15px;
    }

    pre, 
    h3 {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    #start-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    form {
        margin: 5px;
        padding: 10px;
    }

    pre, 
    h3 {
        font-size: 0.8em;
    }

    footer {
        font-size: 0.7em;
    }
}
